@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  color: #1f2933;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  color: #312e81;
}

.subtitle {
  text-align: center;
  color: #4b5563;
  margin-bottom: 25px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.tab-btn {
  padding: 10px 24px;
  margin: 0 10px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  background: #6781b6;
  font-weight: 500;
  transition: 0.2s;
}

.tab-btn.active {
  background: #4f46e5;
  color: white;
}

.tab-content {
  display: none;
  max-width: 1000px;
  margin: auto;
  padding: 10px 20px 50px;
}

.tab-content.active {
  display: block;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3730a3;
}

.input-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

#urlInput {
  width: 65%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #c7d2fe;
  outline: none;
}

button {
  padding: 11px 18px;
  border-radius: 10px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background: #4338ca;
}

.refresh-btn {
  display: block;
  margin: 0 auto 15px;
}
#result {
  margin-top: 20px;
}

/* QUIZ CARDS */
.quiz-card {
  background: white;
  border-radius: 16px;
  padding: 18px 22px;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  border-left: 5px solid #4f46e5;
}

.quiz-card h3 {
  color: #4f46e5;
}

.quiz-card ul {
  padding-left: 20px;
}

.quiz-card li {
  margin: 6px 0;
  list-style: upper-alpha;
}

.quiz-card p {
  margin: 4px 0;
  font-size: 14px;
}

.related-box {
  background: #eef2ff;
  padding: 14px;
  border-radius: 12px;
  margin-top: 25px;
  font-weight: 500;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

th {
  background: #4f46e5;
  color: white;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(15,23,42,0.6);
  backdrop-filter: blur(3px);
}

.modal-content {
  background: #f9fafb;
  width: 75%;
  max-height: 85vh;
  overflow-y: auto;
  margin: 60px auto;
  padding: 25px 30px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.close {
  float: right;
  font-size: 26px;
  cursor: pointer;
  color: #4f46e5;
}
